# Node modules
node_modules/

# Mac system files
.DS_Store

# Project specific VPN files (usually stored in home dir, but good to ignore here just in case)
.vpn.pid
.vpn.log
.vpn.auth

# Editors
.vscode/
.idea/
